<template>
  <v-card class="mx-auto">
    <v-list dense>
      <template v-for="(policy, index) in policies">
        <v-list-item :key="policy.name">
          <v-list-item-content>
            <v-list-item-title>{{ policy.name }}</v-list-item-title>
          </v-list-item-content>

          <v-list-item-action>
            <v-sheet>
              <span></span>
              <v-switch
                v-model="policy.allowed"
                inset
                :color="switchColor"
                class="d-flex align-center"
              >
                <template #prepend>
                  <span :class="prependLabel(policy.allowed)" class="mr-4">
                    {{ policy.allowed | yesNo }}
                  </span>
                </template>
              </v-switch>
            </v-sheet>
          </v-list-item-action>
        </v-list-item>
        <v-divider :key="index" class="mx-4 my-2" />
      </template>
    </v-list>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        class="filter-cancel-button-text-color"
        text
        @click="$emit('click')"
      >
        Cancel
      </v-btn>
      <v-btn color="deep-purple" dark @click="applyFilter">Save</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapGetters, mapActions } = createNamespacedHelpers('filter')
export default {
  name: 'PoliciesFilter',
  filters: {
    yesNo(value) {
      return value ? 'Yes' : 'No'
    }
  },
  data: () => ({
    policies: [
      {
        name: 'Smoking Allowed',
        allowed: false
      },
      {
        name: 'Pets Allowed',
        allowed: false
      },
      {
        name: 'Section & Housing',
        allowed: false
      }
    ]
  }),
  computed: {
    ...mapGetters(['smokingAllowed', 'petsAllowed', 'section8HousingAllowed']),
    switchColor() {
      return '#d6a1c8'
    }
  },
  watch: {
    smokingAllowed() {
      this.policies[0].allowed = this.smokingAllowed
    },
    petsAllowed() {
      this.policies[1].allowed = this.petsAllowed
    },
    section8HousingAllowed() {
      this.policies[2].allowed = this.section8HousingAllowed
    }
  },
  created() {
    this.policies[0].allowed = this.smokingAllowed
    this.policies[1].allowed = this.petsAllowed
    this.policies[2].allowed = this.section8HousingAllowed
  },
  methods: {
    ...mapActions([
      'setSmokingPolicy',
      'setPetsPolicy',
      'setSection8HousingPolicy'
    ]),
    applyFilter() {
      this.setSmokingPolicy(this.policies[0].allowed)
      this.setPetsPolicy(this.policies[1].allowed)
      this.setSection8HousingPolicy(this.policies[2].allowed)
      this.$emit('click')
    },
    prependLabel(policyAllowed) {
      return {
        'prepend-label': !policyAllowed
      }
    }
  }
}
</script>

<style scoped lang="scss">
.prepend-label {
  color: #cac7ce;
}
</style>
