<template>
  <v-card>
    <v-card-text class="text--primary">
      Average rental price in the Pittsburgh is
      <strong>{{ averagePrice }}</strong>
      <v-range-slider
        v-model="priceRange"
        color="purple"
        hide-details
        max="3500"
      >
      </v-range-slider>
      {{ range }} <template v-if="priceRange[1] === 3500">+</template>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        class="filter-cancel-button-text-color"
        text
        @click="$emit('click')"
      >
        Cancel
      </v-btn>
      <v-btn color="deep-purple" dark @click="applyFilter">Save</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapGetters, mapActions } = createNamespacedHelpers('filter')
const { mapState } = createNamespacedHelpers('flat')
export default {
  name: 'PriceFilter',
  data() {
    return {
      priceRange: []
    }
  },
  computed: {
    ...mapGetters({
      computedPriceRange: 'priceRange'
    }),
    ...mapState(['averagePrice']),
    range() {
      return `$${this.priceRange[0]} - $${this.priceRange[1]}`
    }
  },
  watch: {
    computedPriceRange() {
      this.priceRange = this.computedPriceRange
    }
  },
  created() {
    this.priceRange = this.computedPriceRange
  },
  methods: {
    ...mapActions(['setPriceRange']),
    applyFilter() {
      this.setPriceRange(this.priceRange)
      this.$emit('click')
    }
  }
}
</script>

<style scoped></style>
