<template>
  <v-card class="mx-auto">
    <v-list dense>
      <template v-for="(room, index) in rooms">
        <v-list-item :key="room.name">
          <v-list-item-content>
            <v-list-item-title v-text="room.name"></v-list-item-title>
          </v-list-item-content>
          <v-list-item-content class="justify-center">
            {{ room.quantity }}
          </v-list-item-content>
          <div class="buttons-group">
            <v-btn :color="pinkColor" @click="remove(room)">
              <v-icon color="white">mdi-minus</v-icon>
            </v-btn>
            <v-btn :color="pinkColor" @click="add(room)">
              <v-icon color="white">mdi-plus</v-icon>
            </v-btn>
          </div>
        </v-list-item>
        <v-divider :key="index" class="mx-4 my-2" />
      </template>
    </v-list>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        class="filter-cancel-button-text-color"
        text
        @click="$emit('click')"
      >
        Cancel
      </v-btn>
      <v-btn color="deep-purple" dark @click="applyFilter">Save</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapGetters, mapActions } = createNamespacedHelpers('filter')
export default {
  name: 'RoomsFilter',
  data: () => ({
    rooms: [
      {
        name: 'Bedrooms',
        quantity: null
      },
      {
        name: 'Bathrooms',
        quantity: null
      }
    ]
  }),
  computed: {
    ...mapGetters(['bedroomQuantity', 'bathroomQuantity']),
    pinkColor() {
      return '#bd70ae'
    }
  },
  watch: {
    bedroomQuantity() {
      this.rooms[0].quantity = this.bedroomQuantity
    },
    bathroomQuantity() {
      this.rooms[1].quantity = this.bathroomQuantity
    }
  },
  created() {
    this.rooms[0].quantity = this.bedroomQuantity
    this.rooms[1].quantity = this.bathroomQuantity
  },
  methods: {
    ...mapActions(['setBedroomQuantity', 'setBathroomQuantity']),
    add(room) {
      room.quantity += 1
    },
    remove(room) {
      // eslint-disable-next-line no-unused-expressions
      room.quantity > 1 ? (room.quantity -= 1) : null
    },
    applyFilter() {
      this.setBedroomQuantity(this.rooms[0].quantity)
      this.setBathroomQuantity(this.rooms[1].quantity)
      this.$emit('click')
    }
  }
}
</script>

<style scoped lang="scss">
.buttons-group {
  display: inline-flex;
  border-radius: 24px;
  .v-btn.v-btn:first-child {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    ::after {
      content: '';
      position: absolute;
      left: 18%;
      bottom: 0;
      height: 100%;
      width: 100%; /* or 100px */
      border-right: 1px solid white;
    }
  }
  .v-btn.v-btn:last-child {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }
  .v-btn.v-btn {
    height: 2rem;
    width: 2rem;
    border-radius: 0;
    box-shadow: none;
    opacity: 0.8;
    padding: 0 0.25rem;
    min-width: 30px;
    border: none;
  }
}
</style>
