<template>
  <v-card class="card">
    <toolbar :map="map" />
    <actions />
    <list v-slot:default="{ flats }" :mapboxgl="mapboxgl" :map="map">
      <v-card-text class="card-text">
        Showing {{ flats.length }} properties
      </v-card-text>
    </list>
  </v-card>
</template>

<script>
import List from './List'
import Toolbar from './FlatToolbar'
import Actions from './FlatActions'
export default {
  name: 'FlatsList',
  components: {
    Actions,
    List,
    Toolbar
  },
  props: {
    map: { type: Object, default: () => {} },
    mapboxgl: { type: Object, default: () => {} }
  },
  watch: {
    map() {
      // eslint-disable-next-line no-unused-expressions
      this.map?.addControl(
        new this.mapboxgl.NavigationControl({
          showZoom: true,
          showCompass: false
        })
      )
    }
  }
}
</script>

<style scoped lang="scss">
@import '~vuetify/src/styles/styles.sass';
.card {
  @media #{map-get($display-breakpoints, 'xs-only')} {
    height: inherit;
  }
  .card-text {
    padding: 0 0 0.75rem;
    color: #838383;
  }
}
</style>
