<template>
  <v-toolbar id="geocoder" color="deep-purple" dark>
    <v-autocomplete
      v-model="model"
      append-icon=""
      :items="items"
      :loading="isLoading"
      :search-input.sync="search"
      hide-no-data
      hide-selected
      item-text="Description"
      item-value="API"
      label="Public APIs"
      placeholder="Start typing to Search"
      return-object
      class="without-underline"
      prepend-icon="mdi-magnify"
      hide-details
      solo
      flat
      no-filter
      color="rgba(255, 255, 255, 0.5)"
      background-color="transparent"
      @change="selectLocation"
    ></v-autocomplete>
  </v-toolbar>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { debounce } from 'debounce'
const filter = createNamespacedHelpers('filter')
const flat = createNamespacedHelpers('flat')
const { mapGetters, mapActions } = createNamespacedHelpers('geocoder')
const { mapState } = createNamespacedHelpers('mapbox')

export default {
  name: 'FlatToolbar',
  props: {
    map: { type: Object, default: () => {} }
  },
  data() {
    return {
      descriptionLimit: 60,
      entries: [],
      isLoading: false,
      model: null,
      search: null
    }
  },
  computed: {
    ...mapState(['token']),
    ...mapGetters(['coords']),
    fields() {
      if (!this.model) return []

      return Object.keys(this.model).map((key) => {
        return {
          key,
          value: this.model[key] || 'n/a'
        }
      })
    },
    items() {
      return this.entries.map((entry) => {
        const Description =
          entry.place_name.length > this.descriptionLimit
            ? entry.place_name.slice(0, this.descriptionLimit) + '...'
            : entry.place_name
        return Object.assign({}, entry, { Description })
      })
    }
  },

  watch: {
    search(val) {
      this.isLoading = true

      // Lazily load input items
      this.searchLocation()
    },
    model() {
      this.setPlace(this.model.text)
    }
  },
  created() {
    this.searchLocation = debounce(this.searchLocation, 1000)
    const mbxClient = require('@mapbox/mapbox-sdk')
    const mbxGeocoding = require('@mapbox/mapbox-sdk/services/geocoding')
    const baseClient = mbxClient({ accessToken: this.token })
    this.geocodingService = mbxGeocoding(baseClient)
  },
  methods: {
    ...mapActions(['flyTo']),
    ...filter.mapActions(['setPlace']),
    ...flat.mapActions(['setFlats']),
    searchLocation() {
      this.geocodingService
        .forwardGeocode({
          query: this.search,
          limit: 6
        })
        .send()
        .then((response) => {
          const match = response.body
          this.entries = [...match.features]
        })
        .catch((err) => {
          console.log(err)
        })
        .finally(() => (this.isLoading = false))
    },
    selectLocation(geocodeObject) {
      this.flyTo(geocodeObject.center)
      this.map.flyTo({
        center: this.coords,
        essential: true
      })
      this.setFlats()
    }
  }
}
</script>

<style scoped></style>
