<template>
  <actions v-slot="{ breakpoint }">
    <v-container class="container">
      <v-card-actions class="card-actions">
        <v-row :no-gutters="!breakpoint.xs">
          <v-col cols="12" sm="auto">
            <action component-name="PriceFilter">
              <template v-slot:btn="{ action, on }">
                <v-btn class="btn" :block="breakpoint.xs" outlined v-on="on">
                  Price <v-icon v-if="action">mdi-menu-up</v-icon>
                  <v-icon v-else>mdi-menu-down</v-icon>
                </v-btn>
              </template>
            </action>
          </v-col>
          <v-col cols="12" sm="auto">
            <action component-name="RoomsFilter">
              <template v-slot:btn="{ action, on }">
                <v-btn
                  :block="breakpoint.xs"
                  outlined
                  class="mx-sm-2 btn"
                  v-on="on"
                >
                  Room/Bath <v-icon v-if="action">mdi-menu-up</v-icon>
                  <v-icon v-else>mdi-menu-down</v-icon>
                </v-btn>
              </template>
            </action>
          </v-col>
          <v-col cols="12" sm="auto">
            <action component-name="PoliciesFilter">
              <template v-slot:btn="{ action, on }">
                <v-btn class="btn" :block="breakpoint.xs" outlined v-on="on">
                  Policies <v-icon v-if="action">mdi-menu-up</v-icon>
                  <v-icon v-else>mdi-menu-down</v-icon>
                </v-btn>
              </template>
            </action>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-container>
  </actions>
</template>

<script>
import Actions from '../Actions'
import Action from '../Action'
export default {
  name: 'FlatActions',
  components: {
    Actions,
    Action
  }
}
</script>

<style scoped lang="scss">
.container {
  padding-bottom: 0;
  .btn {
    justify-content: space-between;
  }
  .card-actions {
    padding: 0;
  }
}
</style>
