<template>
  <v-container class="list">
    <slot :flats="flats"></slot>
    <v-card flat :loading="loading" class="card">
      <v-row
        v-for="(flat, index) in flats"
        :key="index"
        @click="showOfferOnMap(flat, index)"
      >
        <v-col cols="4">
          <v-img aspect-ratio="1" :src="flat.image" class="img" />
        </v-col>
        <v-col cols="8" class="d-flex align-center">
          <ul>
            <li class="list-item-title title-sm">
              {{ flat.title }}
            </li>
            <li class="list-item-address">
              {{ flat.address.place_name }}
            </li>
            <li class="list-item-price mt-3">
              ${{ flat.price | numberWithCommas }}
            </li>
          </ul>
        </v-col>
        <v-col>
          <v-divider v-if="notLast(index)"></v-divider>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { numberWithCommas } from '@/common/helpers'
const { mapGetters, mapActions } = createNamespacedHelpers('flat')

export default {
  name: 'List',
  filters: {
    numberWithCommas
  },
  props: {
    mapboxgl: { type: Object, default: () => {} },
    map: { type: Object, default: () => {} }
  },
  data() {
    return {
      popups: []
    }
  },
  computed: {
    ...mapGetters({
      flats: 'filteredByAll',
      loadingFlats: 'loading'
    }),
    loading() {
      return this.loadingFlats && 'deep-purple'
    }
  },
  watch: {
    flats(flats) {
      this.popups.forEach((popup) => popup.remove())
      this.popups = []
      this.addPopups()
      this.calcAveragePrice(flats)
    }
  },
  methods: {
    ...mapActions(['addPopup', 'setAveragePrice']),
    addPopups() {
      this.flats.forEach((flat) => {
        const popup = new this.mapboxgl.Popup({
          closeButton: false,
          closeOnClick: false
        })
          .setLngLat(flat.address.center)
          .setHTML(`<h3>$${flat.price}</h3>`)
          .addTo(this.map)
        this.popups.push(popup)
      })
    },
    notLast(index) {
      return index !== this.flats.length - 1
    },
    showOfferOnMap(flat, index) {
      const {
        address: { center }
      } = flat
      this.map.flyTo({
        center,
        zoom: 16
      })
      this.updatePopups(flat, index)
    },
    updatePopups(flat, index) {
      const animatedPopup = document.querySelector('.blob')
      // eslint-disable-next-line no-unused-expressions
      animatedPopup?.classList?.remove('blob')
      this.popups[index].setHTML(
        `<h3 class="blob">$${this.flats[index].price}</h3>`
      )
    },
    calcAveragePrice(flats) {
      let averagePrice = null
      if (flats.length <= 1) {
        averagePrice = flats[0]?.price
      } else {
        const prices = flats.map((flat) => flat.price)
        averagePrice =
          prices.reduce((prev, curr) => +prev + +curr) / flats.length
      }
      this.setAveragePrice(Math.floor(averagePrice))
    }
  }
}
</script>

<style scoped lang="scss">
@import '~vuetify/src/styles/styles.sass';
.card {
  min-height: 20px;
}
.list {
  cursor: pointer;
  height: 50%;
  overflow-y: scroll;
  .img {
    border-radius: 4px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    .list-item-title {
      font-size: 1rem;
      color: #4caf50;
      @media #{map-get($display-breakpoints, 'xs-only')} {
        font-size: 0.8rem;
      }
    }
    .list-item-address {
      font-size: 0.75rem;
      color: #78909c;
      @media #{map-get($display-breakpoints, 'xs-only')} {
        font-size: 0.65rem;
      }
    }
    .list-item-price {
      font-size: 1.5rem;
      @media #{map-get($display-breakpoints, 'xs-only')} {
        font-size: 1.1rem;
      }
    }
  }
}
.list::-webkit-scrollbar {
  display: none;
}
</style>
