<template>
  <actions v-slot="{ pinkColor }">
    <v-container>
      <v-row no-gutters>
        <v-col>
          <action component-name="PriceFilter">
            <template v-slot:btn="{ action, on }">
              <v-btn depressed dark :color="pinkColor" v-on="on">
                Price <v-icon v-if="action">mdi-menu-up</v-icon>
                <v-icon v-else>mdi-menu-down</v-icon>
              </v-btn>
            </template>
          </action>
        </v-col>
        <v-col>
          <action component-name="RoomsFilter">
            <template v-slot:btn="{ action, on }">
              <v-btn depressed dark :color="pinkColor" class="mx-2" v-on="on">
                Room/Bath <v-icon v-if="action">mdi-menu-up</v-icon>
                <v-icon v-else>mdi-menu-down</v-icon>
              </v-btn>
            </template>
          </action>
        </v-col>
        <v-col>
          <action component-name="PoliciesFilter">
            <template v-slot:btn="{ action, on }">
              <v-btn depressed dark :color="pinkColor" v-on="on">
                Policies <v-icon v-if="action">mdi-menu-up</v-icon>
                <v-icon v-else>mdi-menu-down</v-icon>
              </v-btn>
            </template>
          </action>
        </v-col>
      </v-row>
    </v-container>
  </actions>
</template>

<script>
import Action from '@/components/Action'
import Actions from '@/components/Actions'
export default {
  name: 'MainActions',
  components: {
    Actions,
    Action
  }
}
</script>

<style scoped></style>
