#app {
  //background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url(~assets/images/map.png);
  //background-size:cover;
}

.mapboxgl-popup .mapboxgl-popup-content {
  background: #673AB7;
  color: white;
  padding: 0.5rem 0.75rem;
}

.mapboxgl-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #673AB7;
}

.blob {
  transform: scale(1);
  animation: zoom 2s forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}
.filter-cancel-button-text-color .v-btn__content {
  color: #a4a3a8;
}
