<template>
  <v-container>
    <toolbar :toggle-map="toggleMap" @click="toggleMap = $event" />
    <MglMap
      v-slot="{ map, mapboxgl }"
      :access-token="token"
      :map-style="style"
      container="map2"
    >
      <div id="map2">
        <transition name="fade">
          <flats-list
            v-show="!toggleMap || !breakpoint.xs"
            :map="map"
            :mapboxgl="mapboxgl"
          />
        </transition>
      </div>
    </MglMap>
  </v-container>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import FlatsList from '@/components/FlatsList/FlatsList'
import Toolbar from '@/components/Toolbar'
import MglMap from '@/components/MglMap'
const { mapState } = createNamespacedHelpers('mapbox')

export default {
  name: 'Container',
  components: {
    MglMap,
    FlatsList,
    Toolbar
  },
  data() {
    return {
      style: 'mapbox://styles/mapbox/streets-v11',
      toggleMap: true
    }
  },
  computed: {
    ...mapState(['token']),
    breakpoint() {
      return this.$vuetify.breakpoint
    }
  }
}
</script>

<style scoped lang="scss">
.toolbar {
  position: relative;
  z-index: 1;
}
#map2 {
  position: relative;
  top: 0;
  bottom: 0;
  height: 85vh;
  width: 100%;
  z-index: 0;
  .card {
    position: absolute;
    top: 3%;
    left: 2%;
    @media (max-width: 600px) {
      top: 1%;
      left: 0;
    }
    z-index: 4;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
