<template>
  <v-menu
    v-model="action"
    :close-on-content-click="false"
    :nudge-width="200"
    offset-y
  >
    <template v-slot:activator="{ on }">
      <slot name="btn" :action="action" :on="on">
        <v-btn outlined v-on="on">
          <slot /> <v-icon v-if="action">mdi-menu-up</v-icon>
          <v-icon v-else>mdi-menu-down</v-icon>
        </v-btn>
      </slot>
    </template>
    <component :is="componentName" @click="action = false" />
  </v-menu>
</template>

<script>
export default {
  name: 'Action',
  props: {
    componentName: { required: true, type: String }
  },
  data() {
    return {
      action: false
    }
  }
}
</script>

<style scoped></style>
