<script>
export default {
  name: 'Actions',
  computed: {
    pinkColor() {
      return '#bd70ae'
    },
    breakpoint() {
      return this.$vuetify.breakpoint
    }
  },
  render() {
    return this.$scopedSlots.default({
      pinkColor: this.pinkColor,
      breakpoint: this.breakpoint
    })
  }
}
</script>

<style scoped></style>
