<script>
import 'mapbox-gl/dist/mapbox-gl.css'
const mapboxgl = require('mapbox-gl/dist/mapbox-gl.js')

export default {
  name: 'MglMap',
  props: {
    accessToken: { required: true, type: String },
    mapStyle: { required: true, type: String },
    container: { required: true, type: String },
    options: {
      default: () => ({
        center: [-74.005296, 40.732553],
        minZoom: 1.5,
        maxZoom: 20,
        zoom: 16
      }),
      type: Object
    }
  },
  data() {
    return {
      map: null
    }
  },
  mounted() {
    mapboxgl.accessToken = this.accessToken
    this.map = new mapboxgl.Map({
      container: this.container,
      style: this.mapStyle,
      ...this.options
    })
  },
  render() {
    return this.$scopedSlots.default({
      map: this.map,
      mapboxgl
    })
  }
}
</script>

<style scoped lang="scss">
.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
  z-index: 1;
}
</style>
