<template>
  <v-toolbar dense class="toolbar">
    <v-toolbar-title>I K O S</v-toolbar-title>
    <v-btn
      icon
      class="d-inline-flex d-sm-none"
      @click="$emit('click', !toggleMap)"
    >
      <v-icon>mdi-map</v-icon>
    </v-btn>
    <v-spacer></v-spacer>
    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn
          text
          class="d-none d-sm-block"
          v-on="on"
          @click="toggleServices = !toggleServices"
        >
          Services
          <v-icon v-if="toggleServices">mdi-menu-up</v-icon>
          <v-icon v-else>mdi-menu-down</v-icon>
        </v-btn>
      </template>

      <v-list>
        <v-list-item-group>
          <v-list-item v-for="(item, index) in items" :key="index">
            <v-list-item-title>{{ item }}</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-menu>
    <v-btn text class="d-none d-sm-block">
      About
    </v-btn>
    <v-btn text class="d-none d-sm-block">
      Contact
    </v-btn>
    <v-menu bottom left>
      <template v-slot:activator="{ on }">
        <v-btn icon class="d-sm-none" v-on="on">
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item-group>
          <v-list-item v-for="(item, index) in items" :key="index">
            <v-list-item-title>{{ item }}</v-list-item-title>
          </v-list-item>
          <v-list-item>
            About
          </v-list-item>
          <v-list-item>
            Contact
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>

<script>
export default {
  name: 'Toolbar',
  props: {
    toggleMap: { required: true, type: Boolean }
  },
  data() {
    return {
      items: ['Service 1', 'Service 2', 'Service 3', 'Service 4'],
      toggleServices: false
    }
  }
}
</script>

<style scoped></style>
