<template>
  <v-app id="app">
    <v-content>
      <nuxt />
    </v-content>
  </v-app>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapActions } = createNamespacedHelpers('flat')
export default {
  name: 'Default',
  async created() {
    try {
      await this.setFlats()
    } catch (err) {
      console.log(err)
    }
  },
  methods: {
    ...mapActions(['setFlats'])
  }
}
</script>
