<template>
  <v-row no-gutters>
    <v-col cols="12">
      <MglMap
        :access-token="token"
        :map-style="style"
        container="map"
        :options="{ interactive: false }"
      >
        <div id="map"></div>
      </MglMap>
      <main-container />
    </v-col>
    <v-col class="d-none d-sm-flex">
      <actions />
    </v-col>
  </v-row>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import MglMap from '@/components/MglMap'
import MainContainer from '@/components/MainContainer/MainContainer'
import Actions from '@/components/MainPage/MainActions'
const { mapState } = createNamespacedHelpers('mapbox')

export default {
  components: {
    MglMap,
    MainContainer,
    Actions
  },
  data() {
    return {
      style: 'mapbox://styles/arek199602/ck8g4k9df3lyg1io42wr1u82j'
    }
  },
  computed: {
    ...mapState(['token'])
  }
}
</script>

<style scoped lang="scss">
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}
</style>
